<form [formGroup]="transactionForm" novalidate (ngSubmit)="onSubmit()">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Transaction</mat-card-title>
        </mat-card-header>
        <div class="row">
            <div class="col">
                <mat-form-field class="full-width transaction-card">
                    <mat-select placeholder="User" formControlName="user">
                        <mat-option *ngFor="let user of users" [value]="user">
                            {{ user.name }}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="transactionForm.controls['group'].hasError('required')">
                        User is <strong>required</strong>
                    </mat-error>

                </mat-form-field>
            </div>
        </div> 
        <div class="row">
            <div class="col">
                <mat-form-field class="full-width transaction-card">
                    <input matInput [matDatepicker]="picker" placeholder="Choose a date" formControlName="date">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <mat-form-field class="full-width transaction-card">
                    <mat-select placeholder="Account" formControlName="account">
                        <mat-option *ngFor="let account of accounts" [value]="account.name">
                            {{ account.name }}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="transactionForm.controls['group'].hasError('required')">
                        User is <strong>required</strong>
                    </mat-error>

                </mat-form-field>
            </div>
        </div>                
        <div class="row">
            <div class="col">
                <mat-form-field class="full-width transaction-card">
                    <input matInput #postalCode placeholder="Amount" type="number" formControlName="amount">
                    <span matPrefix>£&nbsp;</span>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <mat-form-field class="full-width transaction-card">
                    <mat-select placeholder="Type" formControlName="Type">
                        <mat-option *ngFor="let type of types" [value]="type.name">
                            {{type.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>        
        <div class="row">
            <div class="col">
                <mat-form-field class="full-width transaction-card">
                    <mat-select placeholder="Group" formControlName="group">
                        <mat-option *ngFor="let group of groups" [value]="group.name">
                            {{ group.name }}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="transactionForm.controls['group'].hasError('required')">
                        Group is <strong>required</strong>
                    </mat-error>

                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <mat-form-field class="full-width transaction-card">
                    <input matInput placeholder="Description" formControlName="description">
                    <mat-error *ngIf="transactionForm.controls['description'].hasError('required')">
                        Description <strong>required</strong>
                    </mat-error>

                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <mat-form-field class="full-width transaction-card">
                    <mat-chip-list #chipList>
                        <mat-chip *ngFor="let tag of tags" [selectable]="selectable" [removable]="removable" (removed)="remove(tag)">
                            {{tag}}
                            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                        </mat-chip>
                        <input placeholder="Select or Add tag..." #fruitInput [formControl]="tagCtrl" [matAutocomplete]="auto"
                            [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                            [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event)">
                    </mat-chip-list>
                    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                        <mat-option *ngFor="let tag of filteredTags | async" [value]="tag">
                            {{tag}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button mat-raised-button color="primary" (click)="onSubmit($event)">Save</button>
            </div>
        </div>
    </mat-card>
</form>